@import "./mixins-page.scss";

// تنسيق الوان الجزء العلوي والسلفي من الصفحة
$pageNavAndFooter :#820000;

// تنسيق الوان الخلفية للاقسام
$pageBackground-color : #F2DEBA;

// تنتسيق لون العنواين
$pageTitle-color : #5F7161;

// تنسيق لون الزر 
$btn-color :#4E6C50;
$btn-hover :#8b5151;

// تنسيق الوان الكروت
$pageCard : #D0C9C0 ;


.turkish {
    .transport {
        @include head($pageNavAndFooter);

        .a { 
            @include minLinks($pageNavAndFooter ,$btn-hover);
        }
        .span{
            @include spanInHeader(black);
         }

    }
    .accordion {
        .card {
            @include card($pageBackground-color)
        }
    }
    .info {
        @include info($pageBackground-color);


        .desc {
            @include desc();
        }
    }


    .gallery {
        @include gallery( $pageBackground-color);
        
        .close {
            @include close;
          }
          
          .col-12 img {
            @include img;
          }
          
          .col-12 img:hover {
            @include imgHover;
        }

          .modal {
            @include modal;
          }
    }
    .contact {
        @include contact($pageNavAndFooter);
    
        .title {
            @include title($btn-color)
        }
    
        .title-of-iframe {
           @include title-of-iframe($btn-color);
        }
    
        iframe{
           @include iframe;
        }
    
        .contact-style {
            @include contact-style;
        }
    
        .cont {
          @include cont($btn-color);
        }
    
        .social {
           @include social ;
    
            .a-social{
                @include a-social($btn-color ,$btn-hover);
            }
        }
    }
}

